.header{
    background: #07f;
    color: #fff;
    padding: 0.5em 0;
    box-shadow: 0pt 2pt 2pt #dedede;
    position: sticky;
    top: 0;
    z-index: 999;
    .logo{
        font-size: 1.2em;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        &:hover, &:visited{
            color: #fff;
        }
    }
}