<div class="container p-0">
  <div class="row pt-3 pb-2 border-bottom">
    <div class="col-12">
      <h1>Resume Listing</h1>
    </div>
  </div>

  <div class="row pt-3 pb-2">
    <div class="col-md-6 col-sm-6 col-6">
      <span class="text-gray text-small">3 of 5 items</span>
    </div>
    <div class="col-md-6 col-sm-6 col-6 text-right">
        <a class="btn btn-sm btn-primary pl-4 pr-4" [routerLink]="['../creation']"> + New </a>
    </div>
  </div>

  <div class="row">
    <div class="resume-item-container col-md-4 col-sm-6 col-12">
      <div class="resume-card row">
        <div class="resume-name col-md-12">
          GE 118398 Resume
        </div>
        <div class="info-item col-12">
          <p class="">Gulfam Ali</p>
          <p class="text-small text-gray">Holder Name</p>
        </div>
        <div class="info-item col-12">
          <p class="">Sr Software Engineer</p>
          <p class="text-small text-gray">Target Role</p>
        </div>
        <div class="info-item col-12">
          <p class="">General Electric Company (GE)</p>
          <p class="text-small text-gray">Target Organisation</p>
        </div>
        <div class="info-item col-12">
          <p class="">27 March, 2019</p>
          <p class="text-small text-gray">Updated Date</p>
        </div>
        <div class="col-4 btn-action"><i class="far fa-edit"></i></div>
        <div class="col-4 btn-action"><i class="fas fa-print"></i></div>
        <div class="col-4 btn-action"><i class="fas fa-file-download"></i></div>
      </div>
    </div>

    <!-- TO DELETE -->
    <div class="resume-item-container col-md-4 col-sm-6 col-12">
      <div class="resume-card row">
        <div class="resume-name col-md-12">
          GE 118398 Resume
        </div>
        <div class="info-item col-12">
          <p class="">Gulfam Ali</p>
          <p class="text-small text-gray">Holder Name</p>
        </div>
        <div class="info-item col-12">
          <p class="">Sr Software Engineer</p>
          <p class="text-small text-gray">Target Role</p>
        </div>
        <div class="info-item col-12">
          <p class="">General Electric Company (GE)</p>
          <p class="text-small text-gray">Target Organisation</p>
        </div>
        <div class="info-item col-12">
          <p class="">27 March, 2019</p>
          <p class="text-small text-gray">Updated Date</p>
        </div>

      </div>
    </div>
    <div class="resume-item-container col-md-4 col-sm-6 col-12">
      <div class="resume-card row">
        <div class="resume-name col-md-12">
          GE 118398 Resume
        </div>
        <div class="info-item col-12">
          <p class="">Gulfam Ali</p>
          <p class="text-small text-gray">Holder Name</p>
        </div>
        <div class="info-item col-12">
          <p class="">Sr Software Engineer</p>
          <p class="text-small text-gray">Target Role</p>
        </div>
        <div class="info-item col-12">
          <p class="">General Electric Company (GE)</p>
          <p class="text-small text-gray">Target Organisation</p>
        </div>
        <div class="info-item col-12">
          <p class="">27 March, 2019</p>
          <p class="text-small text-gray">Updated Date</p>
        </div>

      </div>
    </div>
    <div class="resume-item-container col-md-4 col-sm-6 col-12">
      <div class="resume-card row">
          <div class="resume-name col-md-12">
              GE 118398 Resume
            </div>
        <div class="info-item col-12">
          <p class="">Gulfam Ali</p>
          <p class="text-small text-gray">Holder Name</p>
        </div>
        <div class="info-item col-12">
          <p class="">Sr Software Engineer</p>
          <p class="text-small text-gray">Target Role</p>
        </div>
        <div class="info-item col-12">
          <p class="">General Electric Company (GE)</p>
          <p class="text-small text-gray">Target Organisation</p>
        </div>
        <div class="info-item col-12">
          <p class="">27 March, 2019</p>
          <p class="text-small text-gray">Updated Date</p>
        </div>

      </div>
    </div>
    <div class="resume-item-container col-md-4 col-sm-6 col-12">
      <div class="resume-card row">
          <div class="resume-name col-md-12">
              GE 118398 Resume
            </div>
        <div class="info-item col-12">
          <p class="">Gulfam Ali</p>
          <p class="text-small text-gray">Holder Name</p>
        </div>
        <div class="info-item col-12">
          <p class="">Sr Software Engineer</p>
          <p class="text-small text-gray">Target Role</p>
        </div>
        <div class="info-item col-12">
          <p class="">General Electric Company (GE)</p>
          <p class="text-small text-gray">Target Organisation</p>
        </div>
        <div class="info-item col-12">
          <p class="">27 March, 2019</p>
          <p class="text-small text-gray">Updated Date</p>
        </div>

      </div>
    </div>
    <!-- END TO DELETE -->

  </div>
  
  <div class="row pt-4 pb-4">
    <div class="col-md-6 col-sm-6 col-6"><span class="text-gray text-small">3 of 4 items</span></div>
    <div class="col-md-6 col-sm-6 col-6 text-right">
      <button class="btn btn-sm btn-light">Load More</button>
    </div>
  </div>
</div>